.quest {
  height: 100svh;
  &__wrapper {
    height: 100%;
    background-color: var(--vt-white);

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include mobile {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
    }
  }

  &__content {
    padding: var(--container-offset);
    padding-right: 12rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    max-width: 100%;
    min-width: 0;

    @include mobile {
      padding: 4rem;
      flex-grow: 1;
    }

    &_thank {
      @include mobile {
        justify-content: center;
        gap: 0;
      }
    }
  }
  &__quiz {
    width: 100%;
    max-width: 100%;
    min-width: 0;
  }
  &__steps {
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 110%;
    color: var(--vt-black);
  }
  &__img {
    height: 100%;
    width: 100%;
    max-width: 100%;
    min-width: 0;

    @include mobile {
      max-height: 45rem;
      flex-basis: 45rem;
    }
    .swiper-wrapper,
    .swiper-slide {
      height: 100%;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__thank {
    max-width: 39rem;
  }
}
