.quest {
  height: 100svh;
  &__wrapper {
    height: 100%;
    background-color: var(--vt-white);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__content {
    padding: var(--container-offset);
    padding-right: 12rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    min-width: 0;
  }
  &__quiz {
    width: 100%;
    max-width: 100%;
    min-width: 0;
  }
  &__steps {
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 110%;
    color: var(--vt-black);
  }
  &__img {
    height: 100%;
    width: 100%;
    max-width: 100%;
    min-width: 0;
    .swiper-wrapper,
    .swiper-slide {
      height: 100%;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__thank {
    max-width: 39rem;
  }
}
