.quiz-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100svh;
  z-index: 80;

  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;

    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
  }

  &__content {
    position: relative;
    z-index: 5;
    padding: 14rem var(--container-offset) 4rem;
    background-color: var(--vt-white);
    transform: translateY(-100%);
    height: 100%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
  }
}
