.quiz-hero {
  height: 100svh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 8vh;
  padding-bottom: 13.5vh;

  @include mobile {
    padding: 4vh 0;
  }
  .quiz-container {
    width: 100%;
  }
  &__gallery {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    pointer-events: none;
    img {
      display: block;
      width: 100%;
      height: 100%;
      pointer-events: none;
      object-position: right;
      user-select: none;

      @include mobile {
        height: 60%;
      }
    }

    @include mobile {
      &::after {
        content: "";
        position: absolute;
        z-index: 3;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 70%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000 40%);
      }
    }
  }

  &__content {
    position: relative;
    z-index: 10;
    max-width: 57.2rem;
    padding: 6rem;
    background-color: var(--vt-white);
    border-radius: 4rem;

    @include mobile {
      padding: 4.5rem 4rem;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 4rem;
    font-weight: 600;
    font-size: 6rem;
    line-height: 110%;
    text-transform: lowercase;
    color: var(--vt-black);

    @include mobile {
      font-size: 4.4rem;
      margin-bottom: 5rem;
    }
  }

  &__list:not(:last-child) {
    margin-bottom: 4rem;
    @include mobile {
      margin-bottom: 5rem;
    }
  }

  &__list li {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    font-weight: 300;
    font-size: 2.2rem;
    line-height: 150%;
    color: var(--vt-black);

    img {
      width: 3.8rem;
      height: 3.8rem;
      object-fit: contain;
    }

    &:not(:last-child) {
      margin-bottom: 1.2rem;
    }
  }

  &__btn {
    display: flex;
    width: 100%;
  }
}
