/* stylelint-disable */

@mixin burger {
  --burger-width: 32px;
  --burger-height: 24px;
  --burger-line-height: 4px;

  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border-radius: 4px;
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    border-radius: 4px;
    transition:
      transform 0.3s ease-in-out,
      top 0.3s ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: calc(100% - var(--burger-line-height));
  }

  .burger__line {
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
  }

  &.burger--active {
    &::before {
      top: 50%;
      transform: rotate(45deg);
      transition:
        transform 0.3s ease-in-out,
        top 0.3s ease-in-out;
    }

    &::after {
      top: 50%;
      transform: rotate(-45deg);
      transition:
        transform 0.3s ease-in-out,
        top 0.3s ease-in-out;
    }

    .burger__line {
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }
  }
}
