<header class="quiz-header">
  <div class="quiz-container quiz-header__container">
    <a href="https://vlad-truck.ru/" class="quiz-header__logo">
      <img src="./img/svg/logo.svg" alt="" />
    </a>
    <a
      href="https://vlad-truck.ru/"
      class="quiz-header__logo quiz-header__logo_mob"
    >
      <img src="./img/svg/logo-mob.svg" alt="" />
    </a>

    <nav class="quiz-header__nav quiz-nav">
      <ul>
        <li>
          <a href="https://vlad-truck.ru/o-kompanii">о&nbsp;компании</a>
        </li>
        <li>
          <a href="https://vlad-truck.ru/calculator">калькулятор</a>
        </li>
        <li>
          <a href="https://vlad-truck.ru/kontakty">контакты</a>
        </li>
      </ul>
    </nav>

    <ul class="list-reset quiz-header__socials">
      <li>
        <a href="https://t.me/vlad_truck" target="_blank">
          <svg class="" width="28" height="28">
            <use xlink:href="img/sprite.svg#btn-telegram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://vk.com/vlad_truck" target="_blank">
          <svg class="" width="28" height="28">
            <use xlink:href="img/sprite.svg#btn-vk"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://youtube.com/@vlad_truck" target="_blank">
          <svg class="" width="28" height="28">
            <use xlink:href="img/sprite.svg#btn-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button
      class="btn-reset burger quiz-header__burger"
      aria-label="Открыть меню"
      aria-expanded="false"
      data-burger
    >
      <span class="burger__line"></span>
    </button>
  </div>
  @include('./menu.html')
</header>
