<div class="quiz-menu" data-menu>
  <div class="quiz-menu__overlay" data-menu-overlay></div>

  <div class="quiz-menu__content">
    <nav class="quiz-nav">
      <ul>
        <li data-menu-item>
          <a href="#">о&nbsp;компании</a>
        </li>
        <li data-menu-item>
          <a href="#">калькулятор</a>
        </li>
        <li data-menu-item>
          <a href="#">контакты</a>
        </li>
      </ul>
    </nav>

    <a href="#" class="btn btn-reset quiz-btn"> оставить заявку </a>
  </div>
</div>
