*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;

  font-size: calc(100vw / 192);

  @include mobile {
    font-size: calc(100vw / 57.6);
  }
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;

  &.quiz-menu-open {
    overflow: hidden;

    .quiz-header__burger {
      color: var(--vt-black);
    }

    .quiz-menu {
      &__overlay {
        opacity: 1;
      }

      &__content {
        transform: translateY(0);
      }
    }
    .quiz-header__logo_mob::after {
      opacity: 1;
    }
  }
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.quiz-container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.quiz-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1.6rem 3rem 2.1rem;
  border-radius: 2rem;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 110%;
  color: var(--vt-white);

  background-color: var(--vt-red);

  transition-duration: 0.3s;
  transition-property: background-color, color;
  transition-timing-function: ease;

  &_grey {
    background-color: #fafafa;
    color: var(--vt-black);
  }
  &_white {
    background-color: var(--vt-white);
    color: var(--vt-black);
  }
  @include hover {
    color: var(--vt-white);
    background-color: var(--vt-black);
  }

  &:focus-visible {
    outline: none;
    color: var(--vt-white);
    background-color: var(--vt-black);
  }

  &:active {
    color: var(--vt-white);
    background-color: var(--vt-red);
  }

  &:disabled {
    background-color: #e6e6e6;
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
    pointer-events: none;
  }
}
